.col-md-12.col-xs-12.heading-page
    .header-page
        h1 Giỏ hàng của bạn
        p.count-cart
            | Có 
            span 0 sản phẩm
            |  trong giỏ hàng
.col-md-12.col-xs-12.wrapbox-content-cart
    .span12.expanded-message.text-center
        | Giỏ hàng của bạn đang trống 
        p.link-continue
            a.button.dark(href='collections/all.html')
                i.fa.fa-reply
                |  Tiếp tục mua hàng