extends layout

block content
  #404.pageNot.text-center.wrap-flex-align
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .content-pagenot
        h1 Kh&ocirc;ng t&igrave;m th&#x1EA5;y trang
        p.subtext Xin l&#x1ED7;i, ch&uacute;ng t&ocirc;i kh&ocirc;ng t&igrave;m th&#x1EA5;y trang n&agrave;y
        a(href='/') Tr&#x1EDF; v&#x1EC1; trang ch&#x1EE7;
