script(type='text/javascript').
  //<![CDATA[
  if ((typeof Nhathoang) === 'undefined') {
    Nhathoang = {};
  }
  Nhathoang.culture = 'vi-VN';
  Nhathoang.shop = 'storehanghieu160.myNhathoang.com';
  Nhathoang.theme = {
    "name": "Update new 07/04/2020",
    "id": 1000557631,
    "role": "main"
  };
  Nhathoang.domain = 'papazi.vn';
  //]]>
  // Global site tag (gtag.js) - Google Ads: 758684278
  script(async='', src='https://www.googletagmanager.com/gtag/js?id=AW-758684278')
  script.
          window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'AW-758684278');
  meta(name='google-site-verification', content='WmX4Cmqydo2rog4hIjtpqDJiY6S3XqUU662UeVWGhe0')
  script.
          //<![CDATA[
          (function() {
            function asyncLoad() {
              var urls = ["https://buyxgety.Nhathoang.com/js/script_tag_production.js", "https://onapp.Nhathoang.com/promotionbar/embed/asset/frontend/promotionbar.js?shop=storehanghieu160.myNhathoang.com&ver=1586591566290", "https://onapp.Nhathoang.com/windowpopup/embed/asset/frontend/windowpopup.js?shop=storehanghieu160.myNhathoang.com&ver=1586902914723", "https://buyxgety-omni.Nhathoang.com/js/script_tag_production.js?v=1576487994026", "https://combo-omni.Nhathoang.com/js/script_tag_production.js?v=1576487994026", "https://onapp.Nhathoang.com/loyalty/assets/widgets.js?shop=storehanghieu160.myNhathoang.com", "https://app.hstatic.net/socialloginplus/1000253775/script-tag.js?v=1583836154326", "//hstatic.net/775/1000253775/20/2020/4-14/noname_4dd5fd39fd8a4b1e8a81091fa70ef49d.js"];
              for (var i = 0; i < urls.length; i++) {
                var s = document.createElement('script');
                s.type = 'text/javascript';
                s.async = true;
                s.src = urls[i];
                var x = document.getElementsByTagName('script')[0];
                x.parentNode.insertBefore(s, x);
              }
            }
            window.attachEvent ? window.attachEvent('onload', asyncLoad) : window.addEventListener('load', asyncLoad, false);
          })();
  //]]>
  script(type='text/javascript').
  ! function() {
    var hrv_analytics = window.hrv_analytics = window.hrv_analytics || [];
    if (!hrv_analytics.initialize)
      if (hrv_analytics.invoked) window.console && console.error && console.error("Segment snippet included twice.");
      else {
        hrv_analytics.invoked = !0;
        hrv_analytics.methods = ["start", "trackSubmit", "trackClick", "trackLink", "trackForm", "pageview", "identify", "reset", "group", "track", "ready", "alias", "debug", "page", "once", "off", "on"];
        hrv_analytics.factory = function(t) {
          return function() {
            var e = Array.prototype.slice.call(arguments);
            e.unshift(t);
            hrv_analytics.push(e);
            return hrv_analytics
          }
        };
        for (var t = 0; t < hrv_analytics.methods.length; t++) {
          var e = hrv_analytics.methods[t];
          hrv_analytics[e] = hrv_analytics.factory(e)
        }
        hrv_analytics.load = function(t, e) {
          var n = document.createElement("script");
          n.type = "text/javascript";
          n.async = !0;
          n.src = "https://stats.hstatic.net/analyticsv2.min.js";
          var a = document.getElementsByTagName("script")[0];
          a.parentNode.insertBefore(n, a);
          hrv_analytics._loadOptions = e
        };
        hrv_analytics.SNIPPET_VERSION = "4.1.0";
        hrv_analytics.start('pro:web:1000253775');
        hrv_analytics.page();
        hrv_analytics.load();
      }
  }();
  script(src='https://browser.sentry-cdn.com/5.7.1/bundle.min.js', integrity='sha384-KMv6bBTABABhv0NI+rVWly6PIRvdippFEgjpKyxUcpEmDWZTkDOiueL5xW+cztZZ', crossorigin='anonymous')
  script.
  Sentry.init({
    dsn: 'https://4fd33061e48b4851b35a0a0b07d1dae0@sentry.io/1801451'
  });
  script(type='text/javascript').
          //<![CDATA[
          Nhathoang.checkout = {
    "created_at": "2020-02-20T01:45:46.054Z",
    "currency": "VND",
    "customer_id": 1030108039,
    "email": null,
    "location_id": null,
    "order_id": 1103959097,
    "order_number": "160S652435",
    "requires_shipping": true,
    "reservation_time": null,
    "source_name": "web",
    "source_identifier": null,
    "source_url": null,
    "taxes_included": false,
    "tax_exempt": false,
    "tax_lines": null,
    "token": "8f54b6bebe214af3b622d7cb5db6dd0f",
    "updated_at": "0001-01-01T00:00:00",
    "payment_due": null,
    "payment_url": null,
    "reservation_time_left": 0,
    "subtotal_price": 500000.0,
    "total_price": 500000.0,
    "total_tax": 0.0,
    "line_items": [{
      "id": 0,
      "key": "0",
      "product_id": 1022631737,
      "variant_id": 1050377135,
      "sku": "QJID9010-03",
      "vendor": "Khác",
      "type": "FORADV",
      "title": "Quần jeans ICON DENIM black slim fit - Đen-9010 / 31",
      "variant_title": "Đen-9010 / 31",
      "taxable": false,
      "requires_shipping": true,
      "price": 500000.0,
      "compare_at_price": 0.0,
      "line_price": 500000.0,
      "quantity": 1,
      "grams": 0.0,
      "price_original": 500000.0,
      "line_price_orginal": 500000.0
    }],
    "shipping_rate": {
      "id": 0,
      "barcode": null,
      "title": "Giao hàng miễn phí",
      "price": 0.0,
      "handle": "giao-hang-mien-phi-0"
    },
    "shipping_address": {
      "name": "Đinh Nhật Hoàng",
      "full_name": null,
      "first_name": "Hoàng",
      "last_name": "Đinh Nhật",
      "company": null,
      "address1": "314/19/112 khuông việt",
      "address2": null,
      "zip": null,
      "country": "Vietnam",
      "province": "Hồ Chí Minh",
      "country_id": 241,
      "province_id": 50,
      "district_id": 680,
      "ward_id": 27031,
      "phone": "0382565892",
      "province_code": "HC",
      "country_code": "VN"
    },
    "billing_address": {
      "name": "Đinh Nhật Hoàng",
      "full_name": "Đinh Nhật Hoàng",
      "first_name": "Hoàng",
      "last_name": "Đinh Nhật",
      "company": null,
      "address1": "314/19/112 khuông việt",
      "address2": null,
      "zip": "",
      "country": "Vietnam",
      "province": "Hồ Chí Minh",
      "country_id": 241,
      "province_id": 50,
      "district_id": null,
      "phone": "1682565892",
      "billing_is_shipping": false,
      "note": null,
      "customeradd": 0,
      "province_code": "HC",
      "country_code": "VN"
    },
    "discount": {
      "amount": 0.0,
      "code": null
    }
  };
  //]]>
  // Event snippet for PURCHASE-1000253775-05/04/2019 18:44:50 conversion page
  script.
  gtag('event', 'conversion', {
    'send_to': 'AW-758684278/MFgYCMDWoJ0BEPa04ukC',
    'currency': 'VND',
    'transaction_id': '160S652435',
    'value': 500000
  });
  script(type='text/javascript').
          window.NhathoangAnalytics = window.NhathoangAnalytics || {};
  window.NhathoangAnalytics.meta = window.NhathoangAnalytics.meta || {};
  window.NhathoangAnalytics.meta.currency = 'VND';
  var meta = {
    "page": {
      "pageType": "thankyou"
    }
  };
  for (var attr in meta) {
    window.NhathoangAnalytics.meta[attr] = meta[attr];
  }
  window.NhathoangAnalytics.AutoTrack = true;
  script.
          //<![CDATA[
          window.NhathoangAnalytics.ga = "UA-113376140-1";
  window.NhathoangAnalytics.enhancedEcommerce = false;
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', window.NhathoangAnalytics.ga, 'auto', {
    allowLinker: true
  });
  ga('send', 'pageview');
  ga('require', 'linker');
  //]]>
  script.
          window.NhathoangAnalytics.fb = "498778034242936";
  //<![CDATA[
  ! function(f, b, e, v, n, t, s) {
    if (f.fbq) return;
    n = f.fbq = function() {
      n.callMethod ?
              n.callMethod.apply(n, arguments) : n.queue.push(arguments)
    };
    if (!f._fbq) f._fbq = n;
    n.push = n;
    n.loaded = !0;
    n.version = '2.0';
    n.queue = [];
    t = b.createElement(e);
    t.async = !0;
    t.src = v;
    s = b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t, s)
  }(window,
          document, 'script', '//connect.facebook.net/en_US/fbevents.js');
  // Insert Your Facebook Pixel ID below.
  fbq('init', window.NhathoangAnalytics.fb, {}, {
    'agent': 'plNhathoang'
  });
  fbq('track', 'PageView');
  //]]>
  noscript